:root{
    color: white;
    --form: 303px;
    --header: calc((100vh - (var(--form))) / 2);
    --bottom: calc((100vh - (var(--form))) / 2);
    --logo: calc((100vw - 1200px ));
    font-family: 'Courier New', Courier, monospace;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family: "Norse-Bold";
    src:url('/Norse-Bold.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


#logo h1{
    font-size: 5rem;
    font-family: "Norse-Bold";
}


body{
    height: 100vh;
    background-image: url(nightsky.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    
}

img{
    height: 200px;
    width: 200px;
}

#logo{
    overflow: auto;
    overflow-y: hidden;
    position: relative;
    top: 9rem;
    display: flex;
    height: calc(var(--header) / 2 );
    min-width: var(--logo);
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}


.header h1{
    font-size: 2rem;
    text-shadow: 1px 1px;
}

.second-line {
    padding-top: 3rem;
}

.header em{
    font-style: italic;
}

.header{
    height: var(--header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: black;
    width: 1200px;
    padding-left: 2rem;
    overflow-x: auto;
}



fieldset legend{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px;

}

.form{
    margin-left: -2rem;
    padding: 3rem 0 3rem 2rem;
    box-shadow: 0 3px 10px 3px white;
    width: 100%;
}


fieldset{
    display: flex;
    gap: 6rem;
}



.left div{
    padding-top: 1rem;
}

.right div{
    padding-top: 1rem;
}



input{
    display: block;
    width: 500px;
    border-radius: 5px;
}


.bottom{
   
    height: var(--bottom);
    padding-top: 2rem;
    overflow: auto;
}

#button{
    margin-bottom: 2rem;
    margin-left: 1rem;
}

button{
    padding: 1rem 2rem 1rem 2rem;
    border: 2px solid lightseagreen;
    background-color: transparent;
    color: lightseagreen;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;

}

button:hover{
    background-color: lightseagreen;
    color: black;
    transition-duration: 0.5s;
    box-shadow: 0 1px 10px 3px lightseagreen;
    border: 2px solid black;
}


#log-in p{
    padding-top: 5px;
    cursor: pointer;
    color: lightseagreen;
}



input:focus{
    border: 5px solid lightseagreen;
    box-shadow: 0 1px 10px 3px lightseagreen;
}



input:focus:invalid{
    border-color: red;
    box-shadow: 0 1px 10px 3px red;
}















